.GameBtn {
  height: 15rem;
  width: 15rem;
  margin: 30px;
  border-radius: 2rem;
  border: none;
  
}

.GameBtn.flash {
  opacity: 0.5;
  transform: scale(1.1);
}

.GameStart {
  background-color: rgb(235, 238, 244);
  color: rgb(74, 123, 209);
  border: none;
  border-radius: 2rem;
  height: 5rem;
  width: 15rem;
  font-size: 2rem;
  font-family:monospace;
}

.GameStart:hover{
   background-color: black;
   color: rgb(74, 123, 209);
}

* {
  background-color: rgb(147, 180, 237);
  color: rgb(242, 238, 245);
  text-align: center;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
.row {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

@media (max-width: 550px) {
    
    .GameBtn {
        height: 8rem;
        width: 8rem;
        border-radius: 2rem;
        border: none;
        
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }

}